<a href="https://colab.research.google.com/github/utkarshapatil2020/SoC-2k21/blob/main/Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#File

In [27]:
import pandas as pd
df=pd.read_csv('/content/Dataset.csv')

print(df)

          country  year  ... gdp_per_capita ($)       generation
0         Albania  1987  ...                796     Generation X
1         Albania  1987  ...                796           Silent
2         Albania  1987  ...                796     Generation X
3         Albania  1987  ...                796  G.I. Generation
4         Albania  1987  ...                796          Boomers
...           ...   ...  ...                ...              ...
27815  Uzbekistan  2014  ...               2309     Generation X
27816  Uzbekistan  2014  ...               2309           Silent
27817  Uzbekistan  2014  ...               2309     Generation Z
27818  Uzbekistan  2014  ...               2309     Generation Z
27819  Uzbekistan  2014  ...               2309          Boomers

[27820 rows x 12 columns]

#Portion of the Data

In [10]:
import pandas as pd
df=pd.read_csv('/content/Dataset.csv')

print(df.head())

   country  year  ... gdp_per_capita ($)       generation
0  Albania  1987  ...                796     Generation X
1  Albania  1987  ...                796           Silent
2  Albania  1987  ...                796     Generation X
3  Albania  1987  ...                796  G.I. Generation
4  Albania  1987  ...                796          Boomers

[5 rows x 12 columns]

In [ ]:
#Reading of records and variables

In [9]:
import pandas as pd
df=pd.read_csv('/content/Dataset.csv')

print(
    ' num_rec :' , df.shape[0],
      '\n',
      'num_var :',df.shape[1]
      )

 num_rec : 27820
 num_var : 12

In [8]:
import pandas as pd
df=pd.read_csv('/content/Dataset.csv')

print(
    ' num_rec :' , df.head().shape[0],
      '\n',
      'num_var :',df.head().shape[1]
      )

 num_rec : 5
 num_var : 12

#Data type of each variable

In [7]:
import pandas as pd
df=pd.read_csv('/content/Dataset.csv')

print(
    df.dtypes
      )

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

#Number of unique values for each variable

In [6]:
import pandas as pd
df=pd.read_csv('/content/Dataset.csv')

print(
  df.nunique()
      )

country                 101
year                     32
sex                       2
age                       6
suicides_no            2084
population            25564
suicides/100k pop      5298
country-year           2321
HDI for year            305
 gdp_for_year ($)      2321
gdp_per_capita ($)     2233
generation                6
dtype: int64

# Number of missing entries

issing entries

In [5]:
import pandas as pd
df=pd.read_csv('/content/Dataset.csv')

print(
  
  df.isnull().sum()
      )

country                   0
year                      0
sex                       0
age                       0
suicides_no               0
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
dtype: int64

#Num of records with no missing entries

In [4]:
import pandas as pd
df=pd.read_csv('/content/Dataset.csv')

print(
  
len(df.dropna())
      )

8364